@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');



/* Variable globale */
:root {
    --couleur-background: #000000;
    --couleur-font: #f6f6f6;
    --couleur-accent: #c54900;
    --couleur-navbar-background: #2e2e2e;
    --nav-bar-height: 60px;
}
/* configuration d'application */
#app {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    color: var(--couleur-font);
    background: var(--couleur-background);
    font-family: 'Manrope', sans-serif;
}

/* Configuration composante globale */
body {
    padding: 0;
    margin: 0;
}
/* Main container of not dynamic item, we keep the page clean by specifying a limit in weight */
.content-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* Reset de la page */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Base HTML */
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

/* Liens */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

/* Listes */
ul {
    list-style: none;
}


